body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  font-size: 1rem;
  background-color: hsl(218, 28%, 13%);
  font-family: "Open Sans", sans-serif;
}
.raleway {
  font-family: "Raleway", sans-serif;
}
.btn {
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%) 0%,
    hsl(198, 60%, 50%) 97%
  );
  width: 250px;
  height: 50px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 68px 0 68px;
  background-color: hsl(217, 28%, 15%);
}
.header .logo {
  width: 130px;
  height: 40px;
}
.header-navs {
  display: flex;
  justify-content: space-between;
  width: 25%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  opacity: 0.8;
}
li a:hover {
  opacity: 1;
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.intro {
  background-color: hsl(217, 28%, 15%);
  display: flex;
  justify-content: center;
  padding-bottom: 180px;
  width: 100%;
}
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin-top: 20px;
  text-align: center;
  z-index: 10;
}
.intro-illustration {
  width: 70%;
}
.intro-content {
  width: 70%;
}
.intro-content-h1 {
  line-height: 55px;
}
.intro-content-p {
  padding: 0 80px;
  margin-bottom: 30px;
  line-height: 25px;
  opacity: 0.9;
}

.curvy-icon-container-desktop {
  position: absolute;
  top: 680px;
  z-index: 4;
}
.curvy-icon-container-desktop img {
  height: 370px;
  width: 100%;
}
.curvy-icon-container-mobile {
  display: none;
}

.features {
  margin-bottom: 30px;
  margin-top: -20px;
}
.features-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 20px;
  width: 65%;
  margin: auto;
  z-index: 7;
}
.features-content {
  width: 40%;
  margin-bottom: 70px;
  text-align: center;
}
.features-content .collaboration-h4 {
  margin-top: 15px;
}
.features-content-p {
  padding: 0 10px;
  opacity: 0.9;
}

.how-we-work {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 120px;
}
.how-we-work-content {
  width: 48%;
}
.how-we-work-content .logo {
  width: 100%;
}
.how-we-work-content .title {
  padding-top: 80px;
  width: 60%;
  line-height: 38px;
}
.how-we-work-content p {
  padding-right: 30px;
  opacity: 0.9;
}
.how-we-work-content-link {
  font-size: 15px;
}
.how-we-work-content-link a {
  display: inline-block;
  text-decoration: none;
  margin-top: 10px;
  height: 30px;
  color: hsl(176, 68%, 64%);
}
.how-we-work-content-link a:hover {
  color: white;
}
.how-we-work-content-link a:hover .icon {
  color: white;
}
.how-we-work-content-link .line {
  border: 1px solid hsl(176, 68%, 64%);
}
.how-we-work-content-link a:hover .line {
  border-color: white;
}
.how-we-work-content-link a i {
  margin-left: 5px;
}
.how-we-work-content-link a span {
  margin-top: 10px;
  padding-top: 10px;
}

.testimonials {
  width: 80%;
}
.testimonials-img {
  margin-bottom: -13px;
  margin-left: -8px;
}
.testimonials-cards-container {
  display: flex;
  justify-content: space-between;
}
.testimonials-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  width: 27%;
  border-radius: 5px;
  background-color: hsl(219, 30%, 18%);
}
.testimonials-card .profile-details {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.testimonial-cards-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
.testimonials-card .details {
  font-size: 13px;
}
.testimonials-card .name {
  font-weight: bold;
}
.testimonials-card .position {
  font-size: 11px;
  margin-top: -5px;
  opacity: 0.9;
}

.subscribe {
  padding: 30px 70px;
  width: 58%;
  margin-top: 200px;
  border-radius: 10px;
  box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  background-color: hsl(217, 28%, 15%);
  text-align: center;
  z-index: 5;
}
.subscribe-p {
  padding: 0 20px;
}
.subscribe .title {
  margin-bottom: 10px;
}
.subscribe-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}
.subscribe-input {
  padding-left: 30px;
  width: 350px;
  height: 45px;
  outline: none;
  border-radius: 25px;
  border: none;
}
.subscribe-input-container img {
  width: 190px;
  margin-top: 0;
}

footer {
  margin-top: -100px;
  padding-top: 200px;
  height: 500px;
  box-sizing: border-box;
  background-color: hsl(216, 53%, 9%);
  z-index: 1;
}
.footer-container {
  width: 90%;
  margin: auto;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.footer-content .location {
  display: flex;
  justify-content: space-between;
  width: 35%;
}
.footer-content .location p,
.footer-content .about p,
.footer-content .contact p {
  margin-top: 0;
}
.footer-content img {
  margin-right: 28px;
}
.footer-content .contact {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.footer-content .contact div {
  display: flex;
}
.footer-content .about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 10%;
}
.footer-content .social {
  display: flex;
  justify-content: space-around;
  width: 10%;
}
.footer-content img {
  width: 20px;
  height: 16px;
}
.footer-content svg {
  width: 27px;
  height: 27px;
}
footer .profile-summary {
  text-align: center;
  font-size: 0.7rem;
  margin-top: 30px;
}
footer .profile-summary a {
  color: hsl(176, 68%, 64%);
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 0.8rem;
  }

  .btn {
    width: 250px;
    height: 50px;
  }

  .header {
    padding: 30px 20px 0 20px;
  }
  .header .logo {
    width: 90px;
    height: 30px;
  }
  .header-navs {
    width: 50%;
  }
  li a {
    padding: 5px;
    font-size: 0.8rem;
  }

  .intro-container {
    width: 90%;
  }
  .intro-illustration {
    width: 85%;
  }
  .intro-content {
    width: 90%;
  }
  .intro-content-h1 {
    margin-top: 25px;
    font-size: 1.4rem;
    line-height: 35px;
  }
  .intro-content-p {
    padding: 0;
    line-height: 20px;
  }

  .curvy-icon-container-mobile {
    display: block;
    position: absolute;
    top: 250px;
    z-index: 4;
  }
  .curvy-icon-container-mobile img {
    height: 140px;
    width: 100%;
  }
  .curvy-icon-container-desktop {
    display: none;
  }

  .features {
    padding-top: 400px;
    margin-top: -390px;
    background-color: hsl(218, 28%, 13%);
  }
  .features-container {
    width: 85%;
  }
  .features-content {
    width: 100%;
    margin-bottom: 70px;
  }
  .features-content h4 {
    font-size: 1.2rem;
  }
  .features-content-p {
    padding: 0 10px;
    opacity: 0.9;
  }

  .how-we-work {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-bottom: 20px;
  }
  .how-we-work-content {
    width: 100%;
  }
  .how-we-work-content .logo {
    width: 100%;
  }
  .how-we-work-content .title {
    padding-top: 60px;
    width: 100%;
    font-size: 1.155rem;
  }
  .how-we-work-content p {
    padding-right: 30px;
    opacity: 0.9;
  }

  .testimonials {
    width: 75%;
    margin-top: 50px;
  }
  .testimonials-img {
    width: 40px;
    height: 30px;
  }
  .testimonials-cards-container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .testimonials-card {
    padding: 25px;
    width: 100%;
    font-size: 0.8rem;
    box-sizing: border-box;
    margin-bottom: 35px;
    border-radius: 5px;
  }
  .testimonials-card .profile-details {
    margin-top: 0px;
  }
  .testimonials-card .details {
    font-size: 0.6rem;
  }
  .testimonials-card .position {
    font-size: 0.5rem;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 25px 10px;
    width: 85%;
    margin-top: 100px;
  }
  .subscribe .title {
    margin-bottom: 15px;
    font-size: 1.2rem;
  }
  .subscribe-input-container {
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
  .subscribe-input {
    padding-left: 20px;
    width: inherit;
    height: 40px;
    margin-bottom: 10px;
  }
  .subscribe-input-container .btn {
    width: 100%;
    height: 42px;
  }

  footer {
    margin-top: -130px;
    padding-top: 220px;
    padding-bottom: 50px;
    height: fit-content;
  }
  .footer-container {
    width: 85%;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
  }
  .footer-content .location {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
  }
  .footer-content .location p,
  .footer-content .about p,
  .footer-content .contact p {
    margin-top: 0;
  }
  .footer-content img {
    margin-right: 25px;
    margin-top: 1px;
  }
  .footer-content .location img {
    margin-top: 5px;
    margin-right: 34px;
  }
  .footer-content .contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
  }
  .footer-content .contact div {
    display: flex;
    margin-bottom: 5px;
  }
  .footer-content .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
  }
  .footer-content .social {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 40%;
  }
  .footer-content img {
    width: 20px;
    height: 16px;
  }
  .footer-content svg {
    width: 27px;
    height: 27px;
  }
}
